<main class="container">
  <section class="add-item">
    <div class="card-add card-search">
      <div class="card-title">
        <h2>Busqueda de Paciente</h2>
      </div>
      <form id="form-search">
        <div class="card-form form">
          <div class="card-items-form search-pac">
            <input
              type="text"
              name="dni"
              id="dni"
              placeholder="Ingrese su DNI"
              autofocus
              maxlength="8"
            />
            <button type="submit" id="btnSearchRecord">Obtener Paciente</button>
          </div>
          
          <div class="card-items-search" id="item-search">
            <div class="item-search">
              <p class="p-t">Historial:</p>
              <p style="font-size: 12px;"></p>
            </div>
            <div class="item-search">
              <p class="p-t">DNI:</p>
              <p style="font-size: 12px;"></p>
            </div>
            <div class="item-search">
              <p class="p-t">Apellidos:</p>
              <p style="font-size: 12px;"></p>
            </div>
            <div class="item-search">
              <p class="p-t">Nombres:</p>
              <p style="font-size: 12px;"></p>
            </div>
            <div class="item-search">
              <p class="p-t">Edad:</p>
              <p style="font-size: 12px;"></p>
            </div>
            <div class="item-search">
              <p class="p-t">Fecha de Nacimiento:</p>
              <p style="font-size: 12px;"></p>
            </div>
            <div class="item-search">
              <p class="p-t">Direcci&oacute;n:</p>
              <p style="font-size: 12px;"></p>
            </div>
            <div class="item-search">
              <p class="p-t">Estado Civil:</p>
              <p style="font-size: 12px;"></p>
            </div>
          </div>
        </div><br /><br />
      </form>
    </div>
  </section>
</main>