<div id="msg_error" class="error_msg"></div>
{{#if error_msg}}
  <div class="msg msg_err animate__animated animate__fadeInDown" id="messague">
    <div class="m1">
      <p class="message">{{error_msg}}</p>
    </div>
    <div class="m2">
      <p class="icon-error"><i class="fa-solid fa-skull-crossbones"></i></p>
    </div>
  </div>
{{/if}}