<div id="msg_success" class="success_msg"></div>
{{#if success_msg}}
  <div class="msg animate__animated animate__fadeInDown " id="messague">
    <div class="m1">
      <p class="message">{{success_msg}}</p>
    </div>
    <div class="m2">
      <p class="icon"><i class="fa-regular fa-circle-check"></i></p>
    </div>
  </div>
{{/if}}