<main class="container-auth">
  <section class="auth">
    <div class="card-auth">
      <img src="/img/logo.png" alt="" />
      <form action="/auth/signin" method="post">
        <div class="form-item-auth">
          <label for="user">Usuario</label>
          <center>
            <input type="text" name="username" id="username" autofocus />
          </center>
        </div>
        <div class="form-item-auth">
          <label for="password">Contraseña</label>
          <center>
            <input type="password" name="password" id="password" />
          </center>
        </div>
        <button id="signIn">Iniciar Sesi&oacute;n</button>
      </form>
    </div>
  </section>
</main>

